<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=somerenprojectdatabases.database.windows.net;
 Initial Catalog=the-database-someren-project; User=admindad; Password=DAD123#cool"/>
    </connectionStrings>
</configuration>